li {
	display: inline-block;
}

li ~ li {
	font-weight: bold;
	text-decoration: underline;

}

section:nth-of-type(odd) {
	border: 1px solid black;
}

aside: first-of-type {
	color: #0000FF;
}


div:first-of-type{
	float:right;
	width:50%;
	text-align: right;
}

li:nth-of-type(even){
	background-color: lime;
}
div:nth-of-type(2){
	float:left;
	width:50%;

}
div:nth-of-type(3){
	display: block;
	text-align: center;
}